{% extends "base.html.twig" %}

{% block title %}{{learner.firstname}}{% endblock %}

{% block body %}
<div class="center-link">
    <!-- <a id="before" href="javascript:history.back(-1)">Page Précédente</a> -->
    <a class="effect" href="{{path('learners')}}">Les apprenants</a>
</div>
<div class="vertical-space"></div>
<div class="show_one_element" {% if learner.gender %}id="boy"{% else %}id="girl"{% endif %}>
        <div class="element">{{learner.firstname}}</div>
        <div class="element">{{learner.lastName}}</div>
        <div class="element">{% if learner.gender %}Garçon{% else %}Fille{% endif %}</div>
        <div class="element">{{learner.level.grade}} | {{learner.level.schoolClass}}</div>
    </div>
{% endblock %}